<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Cravin</title>
</head>
<body>
  <nav>
    <h1>&nbsp&nbspCravin&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
    <a class="shadow" href="/customer/profile">NEW SEARCH</a>
    <a class="shadow" href="/">LOGOUT</a>
  </nav>
  <main class="custimg">
