
* {
  box-sizing: content-box;
  font-family: Helvetica;
}

body {
  
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #e64444;
  border-bottom: solid gray 5px;
  border-top: solid gray 5px;
  color: white;
  font-size: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
}

.shadow {
  font-size: 20px;
  text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}

.open {
  font-size: 50px;
  text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}


body > main {
  grid-area: main;
  color: white;
	font-size: 40px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

.dinerimg {
  background: url('dinertwo.png') no-repeat center center fixed;
  background-size: cover;
}

.custimg {
  background: url('custimg.png') no-repeat center center fixed;
  background-size: cover;
}

.custbtn {
  color: white;
	font-size: 40px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
  padding: 15px;
  background-color: #e64444;
}

.runner {
  height: 100%;
  width: 25vw;
}

form {
  background-color: gray;
  border: solid #e64444;
  padding: 100px;
  padding-bottom: 20px;
}

.deleteform {
  padding: 5px;
  padding-bottom: 5px;
  block-size: auto;
}

.bkgrd {
  background-color: gray;
  border: solid #e64444;
  padding: 50px;
  padding-bottom: 20px;
}

select {
  font-size: large;
  width: 100%;
  padding: 5px 10px;
  border: solid gray 5px;
  background-color: #f1f1f1;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

main > a {
  color: white;
  background-color: #e64444;
  border: solid white 5px;
  border-radius: 25%;
  padding: 5px 20px 5px 25px;
  font-size: xx-large;
  text-decoration: none;
}

nav > h1 {
  padding-right: 5vw;
}

nav > a {
  color: white;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}

table {
  font-size: 20px;
}

thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  display: inline-block;
}

table td {
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.index {
  color: black;
  text-shadow: none;
}

.index > button {
  padding: 5px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}


ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}
